<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.driver_class">org.postgresql.Driver</property>

      <!--
      Configured connection parameters in hibernate.properties for security reasons.
      Place hibernate.properties file next to this file.
      put following parameters in hibernate.properties:
        hibernate.connection.url = DB_URL
        hibernate.connection.username = DB_USERNAME
        hibernate.connection.password = DB_PASSWORD
      -->

      <!-- <property name="connection.url"/> -->
      <!-- <property name="connection.username"/> -->
      <!-- <property name="connection.password"/> -->

      <!-- DB schema will be updated if needed -->
      <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

      <mapping resource="hbm/Document.hbm.xml"/>
  </session-factory>
</hibernate-configuration>